body {
	background: rgb(226, 221, 221);
	font-family: "Trebuchet MS (sans-serif);";
	font-size: 1.2rem;
	font-weight: 600;
}

input {
	border-radius: 5px;
}

button {
	border-radius: 5px;
	font-weight: 600;

	background: rgb(226, 182, 115);
}

button:hover {
	background: rgb(255, 153, 0);
	transition-duration: 0.5s;
}

label {
	font-weight: 600;
}

li {
	cursor: pointer;
}

.modalCont {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.705);
	position: absolute;
	top: 0;
	display: none;
}

.modalBox {
	background-color: rgb(247, 235, 167);
	width: 60%;
	height: 80%;
	position: absolute;
	top: 10%;
	border-radius: 2em;
	left: 20%;
	padding-left: 2em;
	font-weight: 500;
	padding-right: 2em;
}

.players-container {
	max-height: 50%;
	overflow-y: auto;
	background-color: white;
	border-radius: 1em;
}

.box {
	background-color: rgba(228, 203, 61, 0.425);
	margin-top: 4em;
	padding: 4%;
	border-radius: 1em;
}
